<h1>Interview Overflow</h1>

<%= form_for @question do |f| %>
  <%= f.text_field :title, placeholder: "Question"%>
  <br />
  <%= f.text_area :description, placeholder: "Question Details" %>
  <br />
  <%= f.submit "Submit Question"%>
<% end %>

<h1>Popular Interview Questions</h1>

<div class="questions_list">
  <ul>
  	<% @questions.each do |question| %>
  		<li><%= link_to question.title, question_path(question.id) %>
              <br>
              <%= question.created_at %>
            </li>
  	<% end %>
  </ul>
</div>
