<h1>Interview Overflow</h1>

<%= form_for @question do |f| %>
  <%= f.text_field :title, placeholder: "Question"%>
  <br />
  <%= f.text_area :description, placeholder: "Question Details" %>
  <br />
  <%= f.submit "Submit Question"%>
<% end %>

<h2>List of Popular Interview Questions</h2>
<ul>
	<% @questions.each do |question| %>
		<li><h3><%= link_to question.title, question_path(question.id) %>
      <span id=votes_for_<%=question.id%>>: <%= question.votes if question.votes>0 %></span>
      <%= button_to('+1', question_path(question), method: 'put')%></h3><%= question.created_at %></li>
	<% end %><br>
</ul>

