<h1><%= @question.title %></h1>
<p><%= @question.description %> </p>

<h2>Comments</h2>
  <ul id='comment_list'>
    <% @question.comments.each do |comment| %>
    	<%= render 'comments/comment', :comment => comment %>   
    <% end %>
  </ul>

<%= form_for [@question, @comment], :remote => true do |f| %>
  <%= f.label "Leave a Comment" %>
  <%= f.text_field :content %>
  <%= f.submit "Post Comment" %>
<% end %>
