<!DOCTYPE html>
<html>
<head>
  <title>InterviewOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id=navbar>
      <h1><span><%= link_to 'Interview Overflow', root_path %></span></h1>
    <ul id=navlist>
      <% if signed_in? %>
      <li><%= link_to 'Sign out', sign_out_path, :method => :delete %></li>
      <li><%= current_user.email %></li>
      <% else %>
      <li><%= link_to 'Sign in', sign_in_path %></li>
      <% end %>
    </ul>
  </div>

  <div id="flash">
    <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

  <div id='container'>
    <%= yield %>
  </div>
</body>
</html>
